.data-list {
  .new {
    margin-top: -8px;
  }

  tr::before,
  tr::after {
    content: none;
  }

  .edit {
    width: 75px;
    text-align: center;
    cursor: pointer;
  }

  img {
    max-width: 100px;
    max-height: 100px;
  }
}
