.edit-schema {
  .save {
    margin-top: -8px;
  }

  .delete {
    margin: -8px 10px 0 0;
  }

  .field-group {
    margin-bottom: 30px;

    .delete {
      margin-top: 24px;
    }
  }

  .checkbox {
    margin: 0;

    input[type='checkbox'] {
      margin-left: 0;
    }

    label {
      padding-left: 0;

      label {
        padding-left: 20px;
      }
    }
  }

  .field-group-checkboxes {
    .form-group {
      margin-bottom: 0;
      padding: 0;
    }

    .control-label {
      padding-left: 20px;
    }
  }

  .sort {
    text-align: center;

    i {
      margin-top: 27px;
      font-size: 30px;
      cursor: pointer;
    }
  }
}
