.edit-schema {
  .btn-circle {
    width: 24px;
    height: 24px;
    margin-left: 10px;

    padding: 0 !important;
    border-radius: 50% !important;

    i {
      font-size: 14px;
      line-height: 24px;
    }
  }

  .save {
    margin-top: -8px;
  }

  .delete {
    margin: -8px 10px 0 0;
  }

  .field-group {
    margin-bottom: 30px;

    .delete {
      margin-top: 24px;
    }
  }

  .field-group-checkboxes {
    .form-group {
      margin-bottom: 0;
      padding: 0;
    }

    .checkbox {
      margin: 0;

      input[type='checkbox'] {
        margin-left: 0;
      }
    }

    label {
      padding-left: 0;
    }

    .control-label {
      padding-left: 20px;
    }
  }
}
