@import './variables';

@import './reorder';

@import './menu';
@import './edit_schema';
@import './data_list';
@import './data_detail';
@import './security';

html,
body,
#app {
  @include tall;

  .row {
    @include tall;

    .col-xs-2 {
      @include tall;
    }
  }
}


.content {
  padding: 20px;
}

.btn-circle {
  width: 24px;
  height: 24px;
  margin-left: 10px;

  padding: 0 !important;
  border-radius: 50% !important;

  i {
    font-size: 14px;
    line-height: 24px;
  }
}
